In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("Placement_updated.csv")

In [5]:
df.sample(10)

     Student_ID  CGPA  Internships Placed  Salary (INR LPA)
435         436  7.56            2    Yes              8.43
617         618  8.08            1    Yes             14.76
134         135  6.76            0    Yes             24.76
740         741  6.03            0    Yes             22.88
207         208  7.91            4     No              0.00
843         844  7.81            3    Yes             19.91
454         455  7.08            1    Yes             25.32
234         235  9.22            4    Yes             28.19
703         704  6.37            2    Yes              6.41
925         926  6.28            1     No              0.00

In [6]:
df = df.drop(columns=['Student_ID'])

In [7]:
df.head()

   CGPA  Internships Placed  Salary (INR LPA)
0  7.90            3    Yes             17.63
1  7.39            0    Yes             28.37
2  8.02            2    Yes              8.95
3  8.72            4    Yes             22.59
4  7.31            2    Yes             19.67

In [18]:

X = df[["CGPA", "Internships", "Salary (INR LPA)"]]
y = df["Placed"]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

rf.fit(X_train,y_train)

In [23]:
# Create model
rf = RandomForestClassifier(
    n_estimators=100,
    random_state=42
)

# FIT THE MODEL (mandatory)
rf.fit(X_train, y_train)

# Feature importance
importances = rf.feature_importances_

for f, imp in zip(X.columns, importances):
    print(f, ":", round(imp, 3))

CGPA : 0.037
Internships : 0.007
Salary (INR LPA) : 0.956

# From here we have clear that we have the important feature is salray which have more feature than other that means the if you plot the tree root node became the salary

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
rf = RandomForestClassifier(
    n_estimators=100,     # number of trees
    max_depth=5,          # depth of each tree
    min_samples_split=2,  # minimum samples to split
    max_features="sqrt",  # random feature selection
    bootstrap=True,       # enable bagging
    random_state=42
)

In [25]:
from sklearn.metrics import accuracy_score ,confusion_matrix ,classification_report

In [26]:
y_pred = rf.predict(X_test)

In [28]:
accuracy_score(y_test,y_pred)

1.0

In [29]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[ 62   0]
 [  0 138]]

In [31]:
#That means i got a absoulte zero error model using random forest

In [32]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00        62
         Yes       1.00      1.00      1.00       138

    accuracy                           1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200

# Finally thank you !