In [35]:
import numpy as np
import pandas as pd

In [36]:
df = pd.read_csv("Placement_updated.csv")

In [37]:
df.sample(10)

     Student_ID  CGPA  Internships Placed  Salary (INR LPA)
645         646  7.28            2    Yes             20.03
454         455  7.08            1    Yes             25.32
107         108  7.64            0    Yes             19.17
672         673  7.23            3    Yes             19.66
219         220  7.57            0    Yes             21.33
22           23  7.55            3    Yes              9.19
473         474  8.59            1    Yes             11.43
540         541  8.17            2     No              0.00
158         159  6.55            4    Yes             11.60
98           99  7.50            0     No              0.00

In [38]:
df = df.drop(columns=['Student_ID'])

In [39]:
df.head()

   CGPA  Internships Placed  Salary (INR LPA)
0  7.90            3    Yes             17.63
1  7.39            0    Yes             28.37
2  8.02            2    Yes              8.95
3  8.72            4    Yes             22.59
4  7.31            2    Yes             19.67

In [40]:
df['Placed'] = df['Placed'].map({'Yes': 1, 'No': 0})

In [41]:
X = df[["CGPA", "Internships","Placed" ]]
y = df["Salary (INR LPA)"]

In [42]:
print(X)

     CGPA  Internships  Placed
0    7.90            3       1
1    7.39            0       1
2    8.02            2       1
3    8.72            4       1
4    7.31            2       1
..    ...          ...     ...
995  7.28            2       1
996  8.94            3       1
997  8.01            0       1
998  7.04            2       1
999  7.96            1       0

[1000 rows x 3 columns]

In [43]:
print(y)

0      17.63
1      28.37
2       8.95
3      22.59
4      19.67
       ...
995     5.86
996    26.57
997    17.12
998    21.89
999     0.00
Name: Salary (INR LPA), Length: 1000, dtype: float64

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

rf.fit(X_train,y_train)

In [46]:
from sklearn.ensemble import RandomForestRegressor

In [47]:
rf = RandomForestRegressor(
    n_estimators=100,
    random_state=42
)
rf.fit(X_train, y_train)
# feature importance 
importances = rf.feature_importances_

for f, imp in zip(X.columns, importances):
    print(f, ":", round(imp, 3))

CGPA : 0.282
Internships : 0.084
Placed : 0.634

# From here we have clear that we have the important feature is placed for input Data which have more feature than other that means the if you plot the tree root node became the salary

In [48]:
from sklearn.metrics import accuracy_score ,confusion_matrix ,classification_report

In [49]:
y_pred = rf.predict(X_test)

# I can Use this condition if my target is binary type(0/1)or yes or no 
import numpy as np

y_pred_class = (y_pred >= 0.5).astype(int)
acc = accuracy_score(y_test, y_pred_class)
print(acc)

In [50]:
# we use this condition for Prediction of the value 
from sklearn.metrics import mean_squared_error, r2_score

In [51]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [52]:
print("MSE:", mse)
print("R2:", r2)

MSE: 55.54976813653211
R2: 0.4486153152911191

In [1]:
# MSE=n1‚Äã‚àë(y‚àíy^‚Äã)2

In [ ]:
#It is the average squared error between:
# Actual value
# Predicted value

Your MSE value is 55.55, which means:

üëâ Your target variable is probably scaled or normalized

In [ ]:
Convert MSE ‚Üí Real Error (Important!)

MSE is not human-friendly.

So we take square root:

ùëÖ
ùëÄ
ùëÜ
ùê∏
=
55.55
‚âà
7.45
RMSE=
55.55
	‚Äã

‚âà7.45
Real meaning:

On average, your model‚Äôs prediction is off by ~7.45 units

Now interpret ‚Äúunit‚Äù:

If salary was scaled ‚Üí multiply back

If marks ‚Üí ¬±7.45 marks

If normalized ‚Üí relative error

In [ ]:
R2=1‚àíBaseline ErrorModel Error

# Finally thank you !